.profile-page-header {
  display: flex;
  width: 100%;
  padding: 20px 8rem;
  position: relative;
}

.info-container {
  background-color: #fcfcfc;
  height: calc(100% - 83px);
  padding: 4rem 8rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 0px;
}

.search-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2rem;
}

.user-info-container {
  grid-area: 1 / 1 / 2 / 2;
}
.user-repos-container {
  grid-area: 1 / 2 / 2 / 4;

  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .profile-page-header {
    display: none;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    background-color: white;
  }
}
