footer {
  margin: 12px 0px;
  color: #4a5568;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2e8f0;
}

img {
  margin-left: -3px;
  margin-right: 8px;
}

.footer-text {
  display: flex;
  align-items: center;
}

.description {
  margin-top: 12px;
  color: #4a5568;
}

.title {
  font-size: 1.2rem;
}

.title:hover {
  color: #8c19d2;
}
