.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.logo-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-container {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.logo {
  font-family: "Nunito", sans-serif;
  color: #0069ca;
  font-size: 5rem;
  font-weight: 500;
}

.logo span {
  color: #8c19d2;
}

.input-field {
  height: 2rem;
  width: 100%;
}
